/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Open Sans', sans-serif;
}

.big-container {
    width: 80%;
    margin: 0 auto;
}

.container {
    width: 70%;
    margin: 0 auto;
}

img {
    width: 100%;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}

.btn {
    background-color: #0061ff;
    padding: 10px 20px;
    color: white;
}

h1 {
    font-size: 60px;
    padding-bottom: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 20px;
}

p{
    font-size: 15px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    
}

/* HEADER */

header {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
}

nav {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 20px;
}

header li {
    padding: 15px;
}

/* logo */

.logo {
    align-items: center;
    margin-right: 20px;
}

.logo img {
    width: auto;
    height: 25px;
}

/* login */

.login {
    padding: 0 20px;
    align-items: center;
}


/* MAIN */

/* Jumbtron */

.jumbotron {
    height: 700px;
    background-color: #b4d0e7;
}

.jumbo-content{
    padding-top: 10%;
    position: relative;
}

.jumbo-content p {
    width: 32%;
    padding-bottom: 30px;
    
}

.jumbo-content, a {
    font-size: 15px;
    font-weight: 500;
}

.smalltext {
    padding-top: 25px;
    font-size: 13px;
    font-weight: 500;
}

.jumbo-content i {
    font-size: 40px;
    padding: 30px 0;
}

.jumbo-img {
    width: 750px;
    position: absolute;
    top: 340px;
    right: 60px;
}

/* business plan section*/

.business-plan-section {
    margin-top: 160px;
}

.fakeround {
    padding-top: 40px;
}

.section-header {
    padding-bottom: 10px;
}

.section-header h2 {
    margin-bottom: 30px;
}
/* fake round check */

.circle {
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid grey;
    margin-right: 5px;
    vertical-align: middle;
}

.full {
    border: 4px solid #0061ff;
}

.option-text {
    padding-right: 5px;
    font-size: 15px;
    vertical-align: middle;
    font-weight: 500;
}

/* columns */

.columns {
    justify-content: space-between;
    padding-top: 30px;
}

.col {
    border: 1px solid lightgray;
    width: calc( ( 100% / 3) - 30px);
    font-size: 15px;
    font-weight: 500;

}

.card-top-content {
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding: 10px 0;
}

.card-main-content, .largecard-content {
    padding: 30px 20px;
}


/* Top card Info */

.firstcard-section h3 {
    margin-bottom: 10px;
}

.price-text {
    font-size: 15px;
    font-weight: bold;
}

.grey-text {
    color: gray;
    padding-top: 10px;
    font-size: 13px;
}

.plan {
    flex-direction: column;
    padding-top: 30px;
}

.features {
    padding: 10px 0;
}

.plan .btn {
    margin: 20px 0;
}

.link {
    padding-bottom: 30px;
}

.link a{
    text-decoration: underline;
    color: #0061ff;
    margin-bottom: 20px;
}

/* bottom card info */

.small-hr {
    width: 50px;
    color: lightgrey;
}

.secondcard-section {
    padding-top: 30px;
}

.secondcard-section li {
    display: flex;
}

.secondcard-section ul, li{
    padding-top: 10px;
}

.secondcard-section li::before {
    content: "\2713";
    color: #0061ff;
    font-size: 20px;
    margin-right: 10px;
    
}

/* Large Card */

.largecol {
    border: 1px solid lightgray;
    margin-top: 30px;
}

.largecard-content {
    justify-content: space-between;
}

.largecard-top-content {
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

.leftside-card {
    width: 75%;
}

.leftside-card h3 {
    margin-bottom: 10px;
}

.leftside-card span {
    font-weight: bold;
    font-size: 15px;
}

.leftside-card p {
    margin-top: 15px;
    font-size: 13px;
}

.large {
    padding: 20 30px;
}


/* Dropbox partners */

.partners {
    margin-top: 90px;
}

.partner-content-area {
    padding-left: 30px;
    padding-top: 30px;
}

.partner-content-area h2 {
    padding-bottom: 20px;
}

.partner-content-area p {
    line-height: 25px;
}

.partner-btn {
    margin-top: 30px;
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
    width: 40%;
}

/* Business Features */

.business-features {
    margin-top: 90px;
}

.grid {
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.box-content {
    width: calc(( 100% / 3) - 15px);
    margin-top: 30px;
}

.box-content h3 {
    margin-bottom: 15px;
}

.underline {
    text-decoration: underline;
}

/* Dropbox business teams */

.dropbox-business-team {
    margin-top: 160px;
}

.text-area h2 {
    margin-bottom: 20px;
}

.text-area a {
    text-decoration: underline;
    color: #0061ff;
}

/* LOGO BOXES */

.bigbox {
    margin-top: 40px;
}

/* boxe */

.boxes {
    width: 30%;
    position: relative;
}

.logobox {
    width: calc(100% / 2);
    height: calc(100% / 2);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.logobox img {
    filter: invert(1);
    
}

.green {
    background-color: #a2d39b;
    border: 10px solid #d0e9cd;
}

.blue {
    background-color: #0093ce;
}

.darkpink {
    background-color: #61082b;
}

.red {
    background-color: #ff1c1c;
}

.darkred{
    background-color: #d5001f;
}

.darkblue {
    background-color: #0d2481;
}

.lightblue {
    background-color: #b4d0e7;
}

.yellow {
    background-color: #ffd830;
}

/* center */

.centerbox {
    width: 40%;
    height: 400px;
    padding: 40px 30px;
    background-color: whitesmoke;
}

.logo-title {
    width: 120px;
    margin-bottom: 25px;
}

.centerbox p {
    margin: 50px 0;
}

.centerbox span {
    font-size: 15px;
    font-weight: 500;
    
    
}

/* Call to Action */

.call-to-action {
    background-color: #b4d0e7;
    height: 300px;
}

.cta-content {
    justify-content: space-between;
    align-items: flex-start;
}

.cta-text {
    width: 50%;
    margin: 100px 0;
    color: #61082b;
}

.cta {
    height: 250px;
    align-items: center;
}

.btn-cta {
    padding: 10px 40px;
    background-color: white;
}

/* FAQ */

.faq {
    padding: 90px 0;
}

.faq h2 {
    margin-bottom: 30px;
}

.faq li {
    font-weight: 500;
    padding: 30px 0;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}

.faq li:nth-last-child(1) {
    border-bottom: 1px solid lightgrey;
}