/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Open Sans', sans-serif;
}

.big-container {
    width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}

.btn {
    background-color: #0061ff;
    padding: 10px 20px;
    color: white;
}

h1 {
    font-size: 60px;
    padding-bottom: 40px;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    
}

/* HEADER */

header {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
}

nav {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 20px;
}

header li {
    padding: 15px;
}

/* logo */

.logo {
    align-items: center;
    margin-right: 20px;
}

.logo img {
    width: auto;
    height: 25px;
}

/* login */

.login {
    padding: 0 20px;
    align-items: center;
}


/* MAIN */

/* Jumbtron */

.jumbotron {
    height: 700px;
    background-color: #b4d0e7;
}

.jumbo-content{
    padding-top: 10%;
    position: relative;
}

.jumbo-content p {
    width: 32%;
    padding-bottom: 30px;
    
}

.jumbo-content p, a {
    font-size: 15px;
    font-weight: 500;
}

.smalltext {
    padding-top: 25px;
    font-size: 13px;
    font-weight: 500;
}

.jumbo-content i {
    font-size: 40px;
    padding: 30px 0;
}

.jumbo-img {
    width: 55%;
    position: absolute;
    top: 55%;
    right: 90px;
}